In [44]:
pip install numpy pandas matplotlib scikit-learn seaborn

Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (3.10.5)
Requirement already satisfied: scikit-learn in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (1.7.1)
Requirement already satisfied: seaborn in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: scipy>=1.8.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\user\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [2]:
%store -r df_clean
cleaned_df = df_clean
cleaned_df

,customerID,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,1,29.85,29.85,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
1,5575-GNVDE,0,34,56.95,1889.50,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1
2,3668-QPYBK,0,2,53.85,108.15,1,1,0,0,1,...,0,0,0,0,0,0,1,0,0,1
3,7795-CFOCW,0,45,42.30,1840.75,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,9237-HQITU,0,2,70.70,151.65,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,0,24,84.80,1990.50,0,1,1,1,1,...,0,1,0,1,1,0,1,0,0,1
7039,2234-XADUH,0,72,103.20,7362.90,0,0,1,1,1,...,0,1,0,1,1,0,1,1,0,0
7040,4801-JZAZL,0,11,29.60,346.45,0,0,1,1,0,...,0,0,0,0,0,0,1,0,1,0
7041,8361-LTMKD,1,4,74.40,306.60,1,1,1,0,1,...,0,0,0,0,0,0,1,0,0,1
7042,3186-AJIEK,0,66,105.65,6844.50,0,1,0,0,1,...,0,1,0,1,0,1,1,0,0,0

In [45]:
import pandas as pd
import numpy as np

In [46]:
df_fe = cleaned_df.copy()

df_fe.drop(columns=["customerID"], inplace=True)

In [47]:
#Creating A New Column Tenure Groups as a category datatype column
#Customers were grouped into tenure-based lifecycle stages to capture non-linear churn behavior, revealing significantly higher churn risk among early-tenure customers.
df_fe["tenure_group"] = pd.cut(
    df_fe["tenure"],
    bins=[0, 12, 24, 48, 72],
    labels=["0-1yr", "1-2yr", "2-4yr", "4-6yr"]
)
df_fe["tenure_group"]

0       0-1yr
1       2-4yr
2       0-1yr
3       2-4yr
4       0-1yr
        ...
7038    1-2yr
7039    4-6yr
7040    0-1yr
7041    0-1yr
7042    4-6yr
Name: tenure_group, Length: 7043, dtype: category
Categories (4, object): ['0-1yr' < '1-2yr' < '2-4yr' < '4-6yr']

In [48]:
#Then we use one hot encoding to convert to what machine learning models understand as they dont understand category data type
df = pd.get_dummies(df_fe, columns=["tenure_group"], drop_first=True)
df

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Churn,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,...,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1-2yr,tenure_group_2-4yr,tenure_group_4-6yr
0,0,1,29.85,29.85,0,0,1,0,0,1,...,0,0,0,1,0,1,0,False,False,False
1,0,34,56.95,1889.50,0,1,0,0,1,0,...,0,1,0,0,0,0,1,False,True,False
2,0,2,53.85,108.15,1,1,0,0,1,0,...,0,0,0,1,0,0,1,False,False,False
3,0,45,42.30,1840.75,0,1,0,0,0,1,...,0,1,0,0,0,0,0,False,True,False
4,0,2,70.70,151.65,1,0,0,0,1,0,...,0,0,0,1,0,1,0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1990.50,0,1,1,1,1,0,...,1,1,0,1,0,0,1,True,False,False
7039,0,72,103.20,7362.90,0,0,1,1,1,0,...,1,1,0,1,1,0,0,False,False,True
7040,0,11,29.60,346.45,0,0,1,1,0,1,...,0,0,0,1,0,1,0,False,False,False
7041,1,4,74.40,306.60,1,1,1,0,1,0,...,0,0,0,1,0,0,1,False,False,False
7042,0,66,105.65,6844.50,0,1,0,0,1,0,...,1,0,1,1,0,0,0,False,False,True

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 34 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7043 non-null   int64
 1   tenure                                 7043 non-null   int64
 2   MonthlyCharges                         7043 non-null   float64
 3   TotalCharges                           7043 non-null   float64
 4   Churn                                  7043 non-null   int64
 5   gender_Male                            7043 non-null   int64
 6   Partner_Yes                            7043 non-null   int64
 7   Dependents_Yes                         7043 non-null   int64
 8   PhoneService_Yes                       7043 non-null   int64
 9   MultipleLines_No phone service         7043 non-null   int64
 10  MultipleLines_Yes                      7043 non-null   int64
 11  InternetService_Fiber optic            7043 non-null   int64
 12  InternetService_No                     7043 non-null   int64
 13  OnlineSecurity_No internet service     7043 non-null   int64
 14  OnlineSecurity_Yes                     7043 non-null   int64
 15  OnlineBackup_No internet service       7043 non-null   int64
 16  OnlineBackup_Yes                       7043 non-null   int64
 17  DeviceProtection_No internet service   7043 non-null   int64
 18  DeviceProtection_Yes                   7043 non-null   int64
 19  TechSupport_No internet service        7043 non-null   int64
 20  TechSupport_Yes                        7043 non-null   int64
 21  StreamingTV_No internet service        7043 non-null   int64
 22  StreamingTV_Yes                        7043 non-null   int64
 23  StreamingMovies_No internet service    7043 non-null   int64
 24  StreamingMovies_Yes                    7043 non-null   int64
 25  Contract_One year                      7043 non-null   int64
 26  Contract_Two year                      7043 non-null   int64
 27  PaperlessBilling_Yes                   7043 non-null   int64
 28  PaymentMethod_Credit card (automatic)  7043 non-null   int64
 29  PaymentMethod_Electronic check         7043 non-null   int64
 30  PaymentMethod_Mailed check             7043 non-null   int64
 31  tenure_group_1-2yr                     7043 non-null   bool
 32  tenure_group_2-4yr                     7043 non-null   bool
 33  tenure_group_4-6yr                     7043 non-null   bool
dtypes: bool(3), float64(2), int64(29)
memory usage: 1.7 MB

In [50]:
#Another feature from tenure indicating long term customers only (customers who has spent more that 2yrs)
df["is_long_term"] = (df["tenure"] >= 24).astype(int)
df["is_long_term"]

0       0
1       1
2       0
3       1
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    1
Name: is_long_term, Length: 7043, dtype: int64

In [51]:
#Creating another feature from monthly charges to show each customers average monthly charge,thats MonthlyCharge \ tenure
df["avg_monthly_charge"] = (
    df["TotalCharges"] / df["tenure"].replace(0, 1)
)
df["avg_monthly_charge"]

0        29.850000
1        55.573529
2        54.075000
3        40.905556
4        75.825000
           ...
7038     82.937500
7039    102.262500
7040     31.495455
7041     76.650000
7042    103.704545
Name: avg_monthly_charge, Length: 7043, dtype: float64

In [52]:
#Also Creating another column to show high mothly charges flag by determining if the customers monthly charge is greater than the median monthly charge
df["high_monthly_charge"] = (
    df["MonthlyCharges"] > df["MonthlyCharges"].median()
).astype(int)
df["high_monthly_charge"]

0       0
1       0
2       0
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: high_monthly_charge, Length: 7043, dtype: int64

In [54]:
#Converting the dummy contract columns we earier created to make more sense by adding more weight to 2 years contract and then adding the one year contract 
df["contract_strength"] = (
    df["Contract_Two year"].astype(int) * 2 +
    df["Contract_One year"].astype(int)
)
df["contract_strength"]

0       0
1       1
2       0
3       1
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    2
Name: contract_strength, Length: 7043, dtype: int64

where 0 marks month - month contract , 1 marks one year contract and 2 marks 2 year contract

In [55]:
#Creating anotehr column to measure and count how embedded a customer is like how much of the services he or she uses
service_cols = [
    "OnlineSecurity_Yes",
    "OnlineBackup_Yes",
    "DeviceProtection_Yes",
    "TechSupport_Yes",
    "StreamingTV_Yes",
    "StreamingMovies_Yes"
]

df["service_count"] = df_fe[service_cols].sum(axis=1)
df["service_count"]

0       1
1       2
2       2
3       3
4       0
       ..
7038    5
7039    4
7040    1
7041    0
7042    5
Name: service_count, Length: 7043, dtype: int64

WHERE 6 INDICATES A CUSTOMER IS HIGHLY EMBEDDED WITH THE COMPANY AND 1 MEANIS JUST A SHALLOW CUSTOMER 
HAVING IN MIND THAT HIGHKLY EMBEDDED CUSTOMER ARE EXPECTED TO NOT CHURN

In [56]:
df["has_internet"] = (
    df["InternetService_Fiber optic"] | df["InternetService_No"]
).astype(int)
df["has_internet"]

0       0
1       0
2       0
3       0
4       1
       ..
7038    0
7039    1
7040    0
7041    1
7042    1
Name: has_internet, Length: 7043, dtype: int64

In [57]:
df.isna().sum().sort_values(ascending=False).head()
df.dtypes.value_counts()

int64      34
float64     3
bool        3
Name: count, dtype: int64

In [58]:
df.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'gender_Male', 'Partner_Yes', 'Dependents_Yes', 'PhoneService_Yes',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No internet service', 'OnlineSecurity_Yes',
       'OnlineBackup_No internet service', 'OnlineBackup_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes',
       'TechSupport_No internet service', 'TechSupport_Yes',
       'StreamingTV_No internet service', 'StreamingTV_Yes',
       'StreamingMovies_No internet service', 'StreamingMovies_Yes',
       'Contract_One year', 'Contract_Two year', 'PaperlessBilling_Yes',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'tenure_group_1-2yr', 'tenure_group_2-4yr', 'tenure_group_4-6yr',
       'is_long_term', 'avg_monthly_charge', 'high_monthly_charge',
       'contract_strength', 'service_count', 'has_internet'],
      dtype='object')

In [59]:
#Dropping Redundant Columns 
drop_cols = [
    'Contract_One year', 'Contract_Two year',
    'InternetService_Fiber optic', 'InternetService_No'
]

df.drop(columns=drop_cols, inplace=True, errors='ignore')

In [60]:
#Reordering for readability
cols = [c for c in df.columns if c != "Churn"] + ["Churn"]
df = df[cols]

In [61]:
df

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,tenure_group_1-2yr,tenure_group_2-4yr,tenure_group_4-6yr,is_long_term,avg_monthly_charge,high_monthly_charge,contract_strength,service_count,has_internet,Churn
0,0,1,29.85,29.85,0,1,0,0,1,0,...,False,False,False,0,29.850000,0,0,1,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,0,...,False,True,False,1,55.573529,0,1,2,0,0
2,0,2,53.85,108.15,1,0,0,1,0,0,...,False,False,False,0,54.075000,0,0,2,0,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,...,False,True,False,1,40.905556,0,1,3,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,False,False,False,0,75.825000,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1990.50,1,1,1,1,0,1,...,True,False,False,1,82.937500,1,1,5,0,0
7039,0,72,103.20,7362.90,0,1,1,1,0,1,...,False,False,True,1,102.262500,1,1,4,1,0
7040,0,11,29.60,346.45,0,1,1,0,1,0,...,False,False,False,0,31.495455,0,0,1,0,0
7041,1,4,74.40,306.60,1,1,0,1,0,1,...,False,False,False,0,76.650000,1,0,0,1,1
7042,0,66,105.65,6844.50,1,0,0,1,0,0,...,False,False,True,1,103.704545,1,2,5,1,0

Our tenure groups are stilll having boolean data types though machine learning models work fine with boolean values but lest convert them to integers for data type consistency

In [62]:
tenure_cols = ['tenure_group_1-2yr','tenure_group_2-4yr','tenure_group_4-6yr']
df[tenure_cols] = df[tenure_cols].astype(int)
df

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,tenure_group_1-2yr,tenure_group_2-4yr,tenure_group_4-6yr,is_long_term,avg_monthly_charge,high_monthly_charge,contract_strength,service_count,has_internet,Churn
0,0,1,29.85,29.85,0,1,0,0,1,0,...,0,0,0,0,29.850000,0,0,1,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,0,...,0,1,0,1,55.573529,0,1,2,0,0
2,0,2,53.85,108.15,1,0,0,1,0,0,...,0,0,0,0,54.075000,0,0,2,0,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,...,0,1,0,1,40.905556,0,1,3,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,75.825000,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1990.50,1,1,1,1,0,1,...,1,0,0,1,82.937500,1,1,5,0,0
7039,0,72,103.20,7362.90,0,1,1,1,0,1,...,0,0,1,1,102.262500,1,1,4,1,0
7040,0,11,29.60,346.45,0,1,1,0,1,0,...,0,0,0,0,31.495455,0,0,1,0,0
7041,1,4,74.40,306.60,1,1,0,1,0,1,...,0,0,0,0,76.650000,1,0,0,1,1
7042,0,66,105.65,6844.50,1,0,0,1,0,0,...,0,0,1,1,103.704545,1,2,5,1,0

In [63]:
model_data = df
%store model_data
print("Magically Stored The modelling data")

Stored 'model_data' (DataFrame)
Magically Stored The modelling data